/* add your CSS here */


/* RESETS
-------------------------------------------------------- */

/*box sizing*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
  1. reset padding and magin on body
  2. use flexbox to center
  3. apply css font stack
*/
body {
  padding: 0; /*1.*/
  margin: 0;  /*1.*/

  display: flex;  /*2.*/
  flex-direction: row;  /*2.*/
  justify-content: space-around;  /*2.*/

  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
}

/*reset*/
.card__details ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 10px;
  list-style: none;
}

/*
  The card that contains all the content
  1. add fixed width (300 + 10px on left and right = 320px )
  2. margin to geive space between viewport and card
  3. border styles
*/
.card {
  width: 320px; /*1.*/
  padding: 10px; /*1.*/
  margin: 10px; /*2.*/
  border: 1px solid #ccc; /*3.*/
  -webkit-box-shadow: 8px 4px 0 #ccc; /*3.*/
  box-shadow: 8px 4px 0 #ccc;
  border-radius: 4px; /*3.*/
}

/*
  card image
  1. image is 300px wide or set to 300px
  2. centering of image
  3. prvent overflow, keep within 300px
*/
.card__image {
  width: 300px; /*1.*/
  max-width: 100%; /*1.*/
  height: auto; /*1.*/
  display: block; /*2.*/
  margin-left: auto; /*2.*/
  margin-right: auto; /*2.*/
  overflow: hidden; /*3.*/
}

/* INSTRUCTIONS
-------------------------------------------------------- */

/* 00. italicized text for the animal's interesting fact*/

.card__details p:first-of-type {
  font-style: italic;
}

/* 01. bolded labels for the animal's list items (e.g. 'Habitat')*/

.card__details ul span {
  font-weight: bold;
}

/* 02. no dots for the animal's list items*/


/* 03. border around the animal's name, image, and information*/

.card__name,
.card__image,
.card__details {
  border: 1px solid #ccc;
}


/* 04. border around the animal's information*/

/*see 03. above*/

/* 05. spacing between the animal's name, image, and information*/

.card__name {
  margin: 0 0 10px 0;
  padding: 0 10px;
}

.card__image {
  margin: 0 0 10px 0;
  padding: 0;
}

.card__details {
  padding: 0 10px;
  border-radius: 4px;
}